header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: navy;
    background-size: cover;
}

.paragraph-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: right;
    margin: 0;
}



